:root{
    --color-white:#ffffff;
    --color-purple:#8b7bef;
    --color-dark-gray:#222222;
    --color-yellow:#fcda68;
    --color-gray:#423f40;
    --color-pearl:#f9f5f2;
    --weight-regular: 400;
    --weight-semibold: 600;
}
body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: var(--color-white);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    }
*{
    box-sizing: border-box;
}
.body{
    padding-top: 10 px
    }
    header{
        display: flex;
        flex-flow: row;
        background-color: var(--color-white);
        height: 40px;
        width: 100%;
        top: 0;
        left: 0;
    }
    .menu{
        flex-flow: row;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    

    }
        .iconShowMenu {
            display: block;
            position: fixed;
            top: 40px;
            font-size: 24px;
            right: 40px;
            z-index: 4000;
            padding: 10px;
            border-radius: 50%;
            background-color: var(--color-pearl);
            
        }        
     
       .menu_links{
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: flex-end;
    }

   /* nav> ul> li> a{

    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: end;
    padding: 10px 40px;
   } */
   
    .menu_nesting{
        width: 20vh;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color-dark-gray);
        gap: 30px;
        padding: 10px 40px;
        list-style: none;
        background-color: var(--color-white);
        border: 0.15rem solid var(--color-gray);
        border-radius: 15px;
        position: fixed;
        transform: translateX(200%);
        transition: transform 0.5s;
        z-index: 6000;
        margin-top: 120px;
    }
  
        .menu_nesting_show{
            transform: translateX(0);
        }


.menu_inside a{
    color: var(--color-dark-gray);
    text-decoration: none;
}
.color_home{
    color: var(--color-purple);
}

.section1{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
gap: 0;
margin-right: 20px;
}
.principal-tittle {
    display: flex;
    font-size: 50px;
    color: var(--color-dark-gray);
    font-weight: var(--weight-semibold);
    justify-content: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0;
}
.pharagrap-section1 {
    display: flex;
    font-size: 16px;
    color: var(--color-dark-gray);
    text-align: center;
    justify-content: center;
    padding-left: 9%;
    padding-right: 9%;
   }
.pharagrap2-section1 {
    font-size: 16px;
    color: var(--color-gray);
    text-align: center;
    margin-top: 0;
}
.span-section1{
    color: var(--color-purple);

}
.social-medias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    width: 60%;
    align-self: center;
}
.linkedin{
background-color: var(--color-purple);
border-radius: 50%;
padding: 5px;
}
.instagram {
    background-color: var(--color-purple);
    border-radius: 50%;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
.twitter{
    background-color: var(--color-purple);
    border-radius: 50%;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
.image-section1 {
    width: 60%;
    align-self: center;

}
.button-section1 {
    font-weight:var(--weight-semibold) ;
    background-color: var(--color-purple);
    color: var(--color-white);
    display: flex;
    width: 60%;
    align-self: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-top: 50px;
    text-decoration: none;
}
.button-section1::before {
    content: url(../Íconos/mail\ 1.svg);
    padding-right:20px;
    padding-bottom: 7px ;
}
.section2 {
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 100px;
    width: 100%;
}
.principal-tittle-section2{
    font-size: 32px;
    font-weight: var(--weight-semibold);
    color: var(--color-dark-gray);
    width: 65%;
}
.pharagrap2-section2{
    font-size: 16px;
    color: var(--color-dark-gray);
    width: 100%;
}
.table-section2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    }
.table-body{
    width: 100%;
    display: grid;
    grid-area: 1/2/2/4;
     ;
    }
.regular-table-section2{
    display: grid;
    font-weight: var(--weight-regular);
    padding-right: 20px;
    justify-content:flex-start;
    grid-area: 1/1/2/2;
    margin: 0;
}
.semibold-table-section2{
    font-weight: var(--weight-semibold);
    margin: 0;
}
.company{
    font-weight: var(--weight-regular);
    color: var(--color-gray);
    margin: 0;
    text-align: left;
}
.second-tittle-section2{
    font-weight: var(--weight-semibold);
    font-size: 20px ;
    }
.bordered{
    border-top: 10px solid var(--color-gray);
    margin: 10 px;
   }
hr{
    border-bottom: 0.5px solid var(--color-gray);
    border-collapse:separate;
    padding-right: 100%;
    margin-bottom: 15px;
}
h3.tittle-habilities{
    margin-top: 50px;
    }
.desktop-images{
    display: contents;
}
.svg-files{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-content: center;
}
.images {
 width: 40px;
 height: 40px;
 align-self: center;
}
.pharagrap-img{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-weight: var(--weight-regular);
    }
.section3{
    display: flex;
    flex-direction: column;
    margin-top: 80px; padding-left: 7%;
    padding-right: 7%;
}
.second-tittle-section3-1, .second-tittle-section3-2, .second-tittle-section3-3{
    font-size: 20px;
    color: var(--color-purple);
}

.images-section3{
    display: block;

}
footer{
    display: flex;
    flex-direction: column;
    ;
}
.principal-tittle-footer{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.contact-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding-left: 0;
    text-align: center;
    margin-bottom: 30px;
}
.contact--images{
    grid-area: 1/1/2/2;
}
.contact---images{
    display: flex;
    grid-area: 1/2/2/3;
    flex-direction: column;
    align-items: center;
}
.contact-images-2 {
    background-color: var(--color-pearl);
    border-radius: 50%;
    padding: 20px;
}
.second-tittle-footer{
    font-weight: var(--weight-semibold);
}
.pharagrap-email{
    display: flex;
    margin: 0;
}
.pharagrap-footer{
font-weight: var(--weight-regular);
color: var(--color-purple);
text-align: center;
margin-bottom: 50px;
}
.span-footer::before{
    content:"\2665";
}
@media screen and (min-width:985px ){
    body{
        font-size: 18px;
        font-weight: var(--weight-regular);
        padding: 60px;
    }
        /* nav> ul> li> a{ 
        width: 100%;
        height: 100%;
        display: flex;
        color: #ffffff;
        flex-flow: column;
        align-items: end;
        padding: 10px 40px;
        
            } */

       .nav-container{
        background-color: var(--color-white);
        height: 80px;
        width: 100%;
        top: 0;
        left: 0;}
    
    .iconShowMenu{
        display: none;
            }
.menu_links{background-color: var(--color-white);
    box-shadow: 0 0.05rem 0 var(--color-gray);}

    .menu_nesting{
        height: 5%;
        width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--color-dark-gray);  
    gap: 30px;
    padding: 40px 60px 5px 0;
    list-style: none;
    border: none;
    border-radius: none;
    transform: none;
    justify-content: flex-end;
    top: 0;
    right: 0;
    margin-top: 0;
    }
    .iconShowMenu{
        display: none;
     }
   .section1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 0;
    margin-right: 20px;
    }
    .principal-tittle {
        display: flex;
        font-size: 80px;
        color: var(--color-dark-gray);
        font-weight: var(--weight-semibold);
        justify-content: center;
        width: 100%;
        margin-bottom: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0;
    }
    .pharagrap-section1 {
        display: grid;
        font-size: 24px;
        color: var(--color-dark-gray);
        text-align: justify;
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0;
        padding-right: 40px;
       }
    .pharagrap2-section1 {
        font-size: 18px;
        color: var(--color-gray);
        text-align: left;
        margin-top: 0;
        grid-column-start: 1;
        grid-column-end: 2;
    }
     .span-section1{
        color: var(--color-purple);
    }
    .social-medias {
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 0;
        justify-content: space-between;
        width: 50%;
    }
    .linkedin{
    background-color: var(--color-purple);
    border-radius: 50%;
    padding: 5px;
    }
    .instagram {
        background-color: var(--color-purple);
        border-radius: 50%;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .twitter{
        background-color: var(--color-purple);
        border-radius: 50%;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .image-section1 {
        display: flex;
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .button-section1 {
        font-weight:var(--weight-semibold) ;
        background-color: var(--color-purple);
        color: var(--color-white);
        display: flex;
        width: 60%;
        align-self: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 5px;
        margin-top: 50px;
        text-decoration: none;
    }
    .button-section1::before {
        content: url(../Íconos/mail\ 1.svg);
        padding-right:20px;
        padding-bottom: 7px ;
    }
    .section2 {
        background-color: var(--color-yellow);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        padding: 20px;
        margin-top: 100px;
        width: 100%;
        grid-auto-rows: 100px 200px;;
    }
    .principal-tittle-section2{
        display: flex;
        font-size: 40px;
        font-weight: var(--weight-semibold);
        color: var(--color-dark-gray);
        width: 65%;
        grid-area: 1/1/2/2;
        grid-template-columns: auto;
    }
    .pharagrap2-section2{
        display: flex;
        align-items: center;
        padding-bottom: 10%;
        padding-right: 10%;
        font-size: 18px;
        color: var(--color-dark-gray);
        grid-area: 2/1/3/2;
    }
    .second-tittle-section2{
        display: grid;
        grid-area: 1/2/2/3;
        align-content: flex-end;
        margin-top: 0;
    }
    .table-section2{
        width: 100%;
        display: grid;
        grid-area: 2/2/3/3;
    }
    /* .desktop-experience{
         */
    .table-body{
        width: 100%;
        }
    .regular-table-section2{
        font-weight: var(--weight-regular);
        padding-right: 20px;
        justify-content: stretch;
    }
    .semibold-table-section2{
        text-align: left; padding-right: 100px;
    }
    .company{
        font-weight: var(--weight-regular);
        color: var(--color-gray);
        text-align: left;
    }
    .second-tittle-section2{
        font-weight: var(--weight-semibold);
        font-size: 20px ;
        }
    .bordered{
        border-top: 10px solid var(--color-gray);
        margin: 10 px;
       }
    hr{
        display: grid;
        border-bottom: 0.5px solid var(--color-gray);
        border-collapse:separate;
        padding-right: 100%;
        margin-bottom: 15px;
    }
    h3.tittle-habilities{
        margin-top: 50px;
        display: grid;
        grid-area: 3/1/4/3;
        }
    .svg-files{
            display: flex;
            padding-left: 0;
            flex-direction: row ;
            justify-content: center;
            grid-area: 4/1/5/3;
            gap: 10%;
            margin-left: 10%;
            margin-right: 10%;
        }
    .desktop-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .images {
     width: 40px;
     height: 40px;
     align-self: center;
    }
    .pharagrap-img{
        text-align: center;
        font-weight: var(--weight-regular);
        padding: 0;
    }
    .section3{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        flex-wrap: row;
        padding-right: 0;
        padding-left: 0;
        gap: 2%;
    }
    .second-tittle-section3-1{
        display: grid;
        grid-area: 2/1/3/2;
    }
    .second-tittle-section3-2{
        display: grid;
        grid-area: 2/2/3/3;
    }
    .second-tittle-section3-3{
        display: grid;
        grid-area: 2/3/3/4;
    }
.images-section3-1{
display: grid;
grid-area: 3/1/4/2;
width: 90%;
}
.images-section3-2{
    display: grid;
    grid-area: 3/2/4/3;
    width: 90%;
}
.images-section3-3{
    display: grid;
    grid-area: 3/3/4/4;
    width: 90%;
    }
.contact-images{
    padding-left: 10%;
    padding-right: 10%;
}
.principal-tittle-footer{
    justify-content: flex-start;
    margin-top: 5%;
}

}

